.employee-list-item {
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  @media screen and (min-width: 768px) {
    display: grid; 
    grid-template-columns: 50px 2fr 2fr 1fr 180px;
    grid-template-rows: 1fr;
    grid-template-areas:
    "show name contact professional actions";
    gap: 16px 0px;
    grid-auto-flow: row;
   
  }
 
  
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
    padding: 8px;
    margin: 4px 0;
    background: #fff;
}

.employee-list-item-show { 
  grid-area: show;
 }
.employee-list-item-name {
   grid-area: name; 
   flex: 0 0 calc(100% - 40px); 
  }
.employee-list-item-contact {
   grid-area: contact; 
   flex: 0 0 100%;
   border-bottom: 1px solid rgba(49, 122, 189, 0.12);
   padding-top: 8px;
   padding-bottom: 8px;
   @media screen and (min-width: 768px) {
    flex: 0 0 50%;
    border: 0;
    padding-top: 0px;
    padding-bottom: 0px;
   }
  }
.employee-list-item-professional {
   grid-area: professional; 
   flex: 0 0 100%;
   padding-top: 8px;
   padding-bottom: 8px;
   margin-bottom: 8px;
   border-bottom: 1px solid rgba(49, 122, 189, 0.12);
   @media screen and (min-width: 768px) {
    flex: 0 0 50%;
    border: 0;
    padding-top: 0px;
    padding-bottom: 0px;
   }
  }
.employee-list-item-actions { 
  flex: 0 0 100%;
  grid-area: actions;
  display: flex;
  justify-content: space-between;
}

